<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <form action="/admin/uploadexcel?_csrf={{ ctx.csrf |  safe }}" method="post" enctype="multipart/form-data">
            <input type="text" name="tag" value="add" style="display: none;">
            <input type="file" name="file" style="position:  absolute;height: 100%;width: 100%;opacity: 0;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <button type="submit" class="btn btn-block btn-success btn-lg" style="position:  absolute;width: 100px;bottom: 20px;right: 50px;display:  none;">上传</button>
        </form>

        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <i class="ion ion-ios-gear-outline"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">批量导入</span>
                <span class="info-box-number">学生信息
                </span>
            </div>
        </div>
    </div>

    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <form action="/admin/uploadexcel?_csrf={{ ctx.csrf |  safe }}" method="post" enctype="multipart/form-data">
            <input type="text" name="tag" value="del" style="display: none;">
            <input type="file" name="file" style="position:  absolute;height: 100%;width: 100%;opacity: 0;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <button type="submit" class="btn btn-block btn-success btn-lg" style="position:  absolute;width: 100px;bottom: 20px;right: 50px;display:  none;">上传</button>
        </form>

        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i class="fa fa-google-plus"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">批量删除</span>
                <span class="info-box-number">学生信息</span>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <form action="/admin/uploadexcel?_csrf={{ ctx.csrf |  safe }}" method="post" enctype="multipart/form-data">
            <input type="text" name="tag" value="change" style="display: none;">
            <input type="file" name="file" style="position:  absolute;height: 100%;width: 100%;opacity: 0;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <button type="submit" class="btn btn-block btn-success btn-lg" style="position:  absolute;width: 100px;bottom: 20px;right: 50px;display:  none;">上传</button>
        </form>

        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="ion ion-ios-cart-outline"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">批量修改</span>
                <span class="info-box-number">学生信息</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <!-- <input type="file" name="file" style="position:  absolute;height: 100%;width: 100%;opacity: 0;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"> -->
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <i class="ion ion-ios-people-outline"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">导出</span>
                <span class="info-box-number">学生信息</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="/public/images/promptupload.png" alt="" srcset="" style=" height: 100%;">
    </div>
    <div class="col-md-3">
        <img src="/public/images/prompdel.png" alt="" style=" height: 100%;">
    </div>
    <div class="col-md-3">
        <img src="/public/images/prompechange.png" alt="" style="height: 100%;">
    </div>
</div>